body {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.jumbotron {
	padding-top: 10px;
  text-align: center;
}

.footer {
  text-align: center;
}

.row {
	padding-bottom: 20px;
}

.search-results {
	border-style: solid;
	border-width: 5px;
}