h1:before {
  content: url(/static/musical-note-2-medium.png);
}

.jumbotron {
	padding-top: 10px;
  text-align: center;
}

.jumbotron .h1 {
  text-decoration: none;
}

.footer {
  text-align: center;
}

.next-up {
	border-style: solid;
	border-width: 5px;
}

.media {
  margin-top: 0px;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
.container {
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

/* Social Media
-------------------------------------------------- */

<style type="text/css">
#share-buttons img {
	width: 35px;
	padding: 5px;
	border: 0;
	box-shadow: 0;
	display: inline;
}
</style>

/* Other
-------------------------------------------------- */

#custom-url input{
    border: 0;
    box-shadow: none;
}


#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}