{% extends "layout.html" %}
{% block title %}audiopod{% endblock %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css') }}">
{% endblock %}
{% block body %}
	<!-- Add url form -->
	<div class="container">
		<div class="jumbotron">
			<h1><a href='/' id="home">audiopod&#9835;</a></h1>
			<p>the social music player</p>
			<div class="row">
				<div id="custom-url">
					<div class="input-group col-md-12">
						<input type="text" id="urlText" class="form-control input-lg" placeholder="create a custom audiopod" />
						<span class="input-group-btn">
							<button class="btn btn-info btn-lg" id="urlButton" type="submit">
							Submit
							</button>
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-12 hidden-xs">
				<h4>or proceed to <a href="/{{ room_id }}/host">audiopod.me/{{ room_id }}/host</a> to begin hosting a musical experience</h4>
			</div>
			<div class="col-xs-12 hidden-md hidden-sm hidden-lg">
				<h3><a href="/{{ room_id }}/host">audiopod.me/{{ room_id }}/host</a></h3>
			</div>
		</div>
		<div class="lead" style=text-align:center>
			<p>Audiopod is the social music player that allows friends to create playlists together</p>
		</div>
		<div class="information">
			<div id="instructions">
				<p><b>How it works!</b> </p>
			</div>
			<ol>
				<li>You will be provided with a hosting area to create a playlist of songs from YouTube. Just use the above form to get started and create your own custom pod!</li>
				<li>Friends can easily join the pod by following the link that you provide. They can then add their favorite songs from YouTube to the playlist. Any songs that they submit will immediately appear in the queue. </li>
				<li>Listen and enjoy! Songs will play in the order in which they are added, and the host can remove a song from the playlist at any time.</li>
			</ol>
			<br>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	<script src="{{ url_for('static', filename='homepage.js') }}"></script>
{% endblock %}