{% extends "layout.html" %}
{% block title %}audiopod{% endblock %}
{% block head %}
	<style>
	.footer {
	  position: relative;
	}

	.information {
		font-size: large;
	}

	#instructions {
		text-align: center;
	}
	</style>
{% endblock %}
{% block body %}
	<!-- Add url form -->
	<div class="container">
		<div class="jumbotron">
			<h1 id="logo"><a href='/' id="home">audiopod&#9835;</a></h1>
			<p>a social media player</p>
			<div class="row">
				<div id="custom-url">
					<div class="input-group col-md-12">
						<input type="text" id="urlText" class="form-control input-lg" placeholder="create a custom audiopod" />
						<span class="input-group-btn">
							<button class="btn btn-info btn-lg" id="urlButton" type="submit">
							Submit
							</button>
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-12 hidden-xs">
				<h4>or proceed to <a href="/{{ room_id }}/host">audiopod.me/{{ room_id }}/host</a> to begin hosting a musical experience</h4>
			</div>
			<div class="hidden-md hidden-sm hidden-lg">
				<h4>or use <a href="/{{ room_id }}/host">audiopod.me/{{ room_id }}/host</a></h4>
			</div>
		</div>
		<div class="lead" style=text-align:center>
			<p>audiopod is a social media player that allows friends to create playlists together</p>
		</div>
		<div class="information">
			<div id="instructions">
				<p><b>How it works!</b> </p>
			</div>
			<ul>
				<li>Audiopods are 21st-century jukeboxes. Search for songs to create a playlist from YouTube to provide the music for your next party.</li>
				<li>Use the form above to name your own pod, or use the name we generated for you. (Personally, we're big fans of "{{ room_id }}").
				<li>Friends can easily add music to the pod by following the link that we provide using their phones or computers. They can search for their favorite songs from YouTube and they will immediately appear in the pod's queue.</li>
				<li>Listen and enjoy! Songs will play in the order in which they are added, and the host can edit the playlist at any time.</li>
			</ul>
			<br>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	<script src="{{ url_for('static', filename='homepage.js') }}"></script>
{% endblock %}