{% extends "layout.html" %}
{% block title %}MediaBox Host{% endblock %}
{% block head %}<script type="text/javascript"> var room_id = '{{ room_id }}'; </script>{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron">
        <h1>MediaBox</h1>
        <p class="lead">Add a song!</p>
        <form class="form-horizontal" role="form">
            <div class="form-group">
            <input type="text" class="form-control" id="song">
            </div>
        </form>
    </div>
    <div class="row marketing">
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9">
                <div id="player" style="text-align: center">
                </div>
            </div>
        </div>

        <div class="col-md-6">
          <h4>Next Up</h4>
          <p>Money on My Mind</p>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://www.youtube.com/iframe_api"></script>
<script src="{{ url_for('static', filename='host.js') }}"></script>
{% endblock %}
