{% extends "layout.html" %}
{% block title %}MediaBox Host{% endblock %}
{% block head %}<script type="text/javascript"> var room_id = '{{ room_id }}'; </script>{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>header stuff</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="embed-responsive embed-responsive-16by9">
                <div id="player" style="text-align: center">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>queue stuff</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://www.youtube.com/iframe_api"></script>
<script src="{{ url_for('static', filename='host.js') }}"></script>
{% endblock %}
